
*.xcuserstate
*.xcworkspacedata
packages/du/.swiftpm/xcode/xcuserdata/nareshbabukommana.xcuserdatad/xcschemes/xcschememanagement.plist
packages/.swiftpm/xcode/xcuserdata/nareshbabukommana.xcuserdatad/xcschemes/xcschememanagement.plist
xcschememanagement.plist
